.title {
    font-size: 20px;
    font-weight: bold;
}

.panel_title {
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 20px;
}

.panel {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;

    background-color: lightgray;

    border-radius: 5px;
    border: 1px solid grey;

    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.preferences_dialog {
    color: blue;
    background-color: lightblue;
    border: 1px solid grey;
}

.label {
    font-weight: bold;
}

.value {
    border: 1px solid darkgray;
    background-color: white;
    min-width: 50px;

    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

.button {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.gpsd_panel {}

.gps_values_panel {}

.sidepanel {
    background-color: gray;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
    border: 0px;
}

.sidepanel_button {
    margin-top: 1px;
    margin-bottom: 10px;
    margin-left: 1px;
    margin-right: 1px;
    border: 1px solid black;
    color: rgb(255, 255, 255);
    background-color: black;
}

.satellites_info_panel {
    background-color: lightskyblue;
    min-width: 300px;
}

.satellites_graphic_panel {
    background-color: lightskyblue;
}

.position_panel {
    background-color: lightgreen;
    min-width: 220px;
}

.sv_grid {
    margin-top: 15px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
}

.sv_value {
    border: 1px solid darkgray;
    min-width: 30px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.map_panel {
    min-width: 600px;
}

.statusbar {
    background-color: lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
}

.map_marker {
    color: brown;
}