.title {
    font-size: 20px;
    font-weight: bold;
}

.panel_title {
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 20px;
}

.panel {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;

    background-color: lightgray;

    border-radius: 5px;
    border: 1px solid grey;

    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.preferences_dialog {
    background-color: lightgray;
    color: black;
    border: 1px solid grey;
    min-width: 800px;
}

.preferences_row {
    background-color: lightgray;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

.preferences_label {
    font-weight: bold;
    font-size: 15px;
    margin-left: 5px;
    min-width: 300px;
}

.preferences_value {
    background-color: rgb(236, 235, 235);
    border: 1px solid gray;
    font-size: 15px;
    margin-right: 5px;
    min-width: 400px;

}

.preferences_buttons_area {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.label {
    font-weight: bold;
}

.value {
    border: 1px solid darkgray;
    background-color: rgba(255, 255, 255, 0.7);
    min-width: 50px;

    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

.button {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

.gpsd_panel {}

.gps_values_panel {}

.sidepanel {
    background-color: rgba(70, 70, 70, 0.623);
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
    border: 0px;
}

.sidepanel_button {
    margin-top: 1px;
    margin-bottom: 10px;
    margin-left: 1px;
    margin-right: 1px;
    border: 1px solid darkgray;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 1);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 10px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    min-width: 40px;
}

.satellites_info_satellite_name {
    color: blue;
    font-weight: bold;
    margin-left: 10px;
}

.satellites_info_panel {
    background-color: rgba(135, 206, 250, 0.7);
    min-width: 340px;
}

.satellites_info_label {
    color: rgb(66, 66, 66);
    font-weight: normal;
    margin-left: 10px;
}

.satellites_info_value {
    font-weight: bold;
    color: black;
    border: 0px solid darkgray;
    background-color: rgba(255, 255, 255, 0);
    min-width: 40px;

    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;

    margin-left: 2px;
}

.satellites_graphic_panel {
    background-color: rgba(135, 206, 250, 0.7);
}

.map_dashboard {
    color: white;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 5px;
    padding: 5px;
}

.map_dashboard_label {
    font-weight: bold;
    margin: 2px;
}

.map_dashboard_value {
    border: 1px solid darkgray;
    /* background-color: white; */
    /* min-width: 50px; */

    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 2px;
}

.recording_dashboard {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 30px;

    min-width: 300px;
}


.satellites_dashboard {
    margin-left: 5px;
    margin-bottom: 65px;
}

.position_dashboard {
    margin-right: 5px;
    margin-bottom: 30px;
}

.position_panel {
    background-color: rgba(105, 228, 105, 0.7);
    min-width: 220px;
}

.sv_grid {
    margin-top: 15px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
}

.sv_value {
    border: 1px solid darkgray;
    background-color: rgba(255, 255, 255, 0.7);
    min-width: 30px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.map_panel {
    min-width: 700px;
}

.map_hint {
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 5px;
    border: 1px solid #000000;
    margin-top: 20px;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.autocenter_button {
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 5px;
    /* border: 1px solid #000000; */
    margin-top: 100px;
    margin-right: 6px;
    padding: 11px;
    color: white;
}

.autocenter_button:active {
    background-color: rgba(131, 131, 131, 0.65);
    border-radius: 5px;
    /* border: 1px solid #000000; */
    margin-top: 100px;
    margin-right: 6px;
    padding: 11px;
    color: white;
}

.autocenter_button:hover {
    background-color: rgba(40, 40, 40, 0.65);
    border-radius: 5px;
    /* border: 1px solid #000000; */
    margin-top: 100px;
    margin-right: 6px;
    padding: 11px;
    color: white;
}

.recording_button {
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 5px;
    border: 1px solid #000000;
    margin: 5px;
    padding: 5px;
    color: white;
    min-width: 30px;
}

.recording_button:active {
    background-color: rgba(131, 131, 131, 0.65);
    border-radius: 5px;
    /* border: 1px solid #000000; */
    margin: 5px;
    padding: 5px;
    color: black;
}

.recording_button:hover {
    background-color: rgba(40, 40, 40, 0.65);
    border-radius: 5px;
    /* border: 1px solid #000000; */
    margin: 5px;
    padding: 5px;
    color: white;

}


.recording_panel {
    background-color: rgba(250, 229, 135, 0.7);
    min-width: 350px;
}

.recording_icon {
    margin: 2px;
    min-width: 30px;
    min-height: 30px;
}

.recording_list_item {
    border: 3px solid black;
    background-color: rgb(88, 88, 88);
    min-height: 35px;
    margin: 3px;
}

.recording_box {
    background-color: rgba(255, 255, 255, 0.349);
    margin-top: 20px;
    padding: 5px;
}

.recordings_table {
    background-color: rgba(255, 255, 255, 0.0);
}

.recording_details {
    min-width: 210px;
    margin-right: 10px;
}

.recording_list_sw {
    min-height: 300px;
    margin: 10px;
}

.statusbar {
    background-color: lightgray;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
}

.map_marker {
    color: brown;
    min-width: 50px;
}