[Desktop Entry]
Type=Application
Name=gnss-ui
Comment=User Interface for GNSS Receivers
Exec=app.py
Icon=gnss-ui
Terminal=false
Categories=Utility;GNOME;GTK;
Keywords=geolocation;gps;gnss
